@model IEnumerable<BakanasDigital.Think.Web.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
@foreach (var item in Model) 
{
    <div class="col-md-4">
        <div style="width:100%;">
            <img id="ImagemPerfil_@item.ClienteId" class="ImagemPerfil" data-content="@item.ClienteId" src="" style="width:75%; border: 2px solid #000000; min-height: 230px;" />
        </div>
        <div style="width:100%; text-align: center; font-size: 25px;">
            @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Sobrenome)
        </div>
        <div style="width:100%;  text-align: center; font-size: 22px;">
            @Html.ActionLink("Edit", "Edit", new { id = item.ClienteId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClienteId })
        </div>
    </div>
   }
</div>

<table class="table" style="display:none">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneFixo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneFixo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneCelular)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.ImagemPerfil').each(function () {
                
                CarregaFotoPerfil($(this).attr("data-content"));
            });

            });        

    </script>

}